In [1]:
!curl -L https://archive.ics.uci.edu/ml/machine-learning-databases/letter-recognition/letter-recognition.data -o letter-recognition.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  695k  100  695k    0     0   170k      0  0:00:04  0:00:04 --:--:--  170k

In [2]:
# importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.preprocessing import scale
from math import exp
from collections import defaultdict 
from sklearn.metrics.pairwise import chi2_kernel
# import warnings
# warnings.filterwarnings("ignore")

In [3]:
df = pd.read_csv('letter-recognition.csv')

# feature names were like - 'letter ' changed it to 'letter'
df.columns = ['letter', 'xbox', 'ybox', 'width', 'height', 'onpix', 'xbar',
       'ybar', 'x2bar', 'y2bar', 'xybar', 'x2ybar', 'xy2bar', 'xedge',
       'xedgey', 'yedge', 'yedgex']
print(df.columns)

Index(['letter', 'xbox', 'ybox', 'width', 'height', 'onpix', 'xbar', 'ybar',
       'x2bar', 'y2bar', 'xybar', 'x2ybar', 'xy2bar', 'xedge', 'xedgey',
       'yedge', 'yedgex'],
      dtype='object')

In [4]:
print(f"Number of rows = {df.shape[0]}, cols = {df.shape[1]}")
df.head()

Number of rows = 19999, cols = 17

,letter,xbox,ybox,width,height,onpix,xbar,ybar,x2bar,y2bar,xybar,x2ybar,xy2bar,xedge,xedgey,yedge,yedgex
0,I,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10
1,D,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9
2,N,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8
3,G,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10
4,S,4,11,5,8,3,8,8,6,9,5,6,6,0,8,9,7

In [5]:
# number of different classes
classes = df['letter'].unique()
print(f'Number of different labels in dataset = {len(classes)}')
classes.sort()
for cls in classes:
    rows = len(df[df['letter'] == cls])
    print(f'Number of data points in class {cls} = {rows}')

Number of different labels in dataset = 26
Number of data points in class A = 789
Number of data points in class B = 766
Number of data points in class C = 736
Number of data points in class D = 805
Number of data points in class E = 768
Number of data points in class F = 775
Number of data points in class G = 773
Number of data points in class H = 734
Number of data points in class I = 755
Number of data points in class J = 747
Number of data points in class K = 739
Number of data points in class L = 761
Number of data points in class M = 792
Number of data points in class N = 783
Number of data points in class O = 753
Number of data points in class P = 803
Number of data points in class Q = 783
Number of data points in class R = 758
Number of data points in class S = 748
Number of data points in class T = 795
Number of data points in class U = 813
Number of data points in class V = 764
Number of data points in class W = 752
Number of data points in class X = 787
Number of data points in class Y = 786
Number of data points in class Z = 734

In [6]:
# Preparing the dataset

# binary labeling of the dataset
df1 = df.copy()

# one alphabet will be treated as positive sample and others as negative sample
alphabet = 'A'  
df1.loc[(df1.letter != alphabet),'letter'] = -1
df1.loc[(df1.letter == alphabet),'letter'] = 1

# we will make number of positve samples = number of negative samples otherwise
# otherwise the dataset will have huge number of negative samples which will slow
# down the sampling process
pos = df1[df1['letter']==1].sample(frac=1)
# we need roughly only 1/25 of total negative samples 
neg = df1[df1['letter']==-1].sample(frac=1/25)

df_final = pos.append(neg,ignore_index=True)
print(f"Length of final dataset {len(df_final)}")
df_final.head()

Length of final dataset 1557

,letter,xbox,ybox,width,height,onpix,xbar,ybar,x2bar,y2bar,xybar,x2ybar,xy2bar,xedge,xedgey,yedge,yedgex
0,1,3,7,4,5,2,9,3,3,3,9,1,8,2,6,2,7
1,1,2,7,4,5,2,11,2,3,3,10,2,9,2,6,3,8
2,1,2,6,4,4,2,10,3,1,2,8,3,9,2,6,2,8
3,1,2,2,4,3,2,8,3,2,3,8,1,8,2,6,2,7
4,1,1,1,2,1,0,7,4,3,0,7,1,8,2,7,1,8

In [7]:
# train test split
df_final_train, df_final_test = train_test_split(df_final, test_size=0.3, random_state=42)


# we need to generate a preliminary model first = f0 using N1(< M) datapoints
M = 1000
N1 = round(M * 0.75)

# we will extract N1 data points randomly
df_sample = df_final_train.sample(n=N1)

df_sample_features = df_sample.loc[:, df_sample.columns != 'letter']
df_sample_target = df_sample.loc[:, ['letter']]

print(df_sample_features.head())
print(df_sample_target.head())

      xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  xybar  \
1168     3    10      3       8      2     0     2      3      6      1
457      3     6      5       4      2     8     4      3      0      7
839      2     8      2       6      2     7     7      0      8      7
434      6    11      8       8      8     8     9      8      5      6
931      3     4      4       2      1     5    13      3      6     12

      x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
1168       0       8      0       8      0       8
457        1       8      2       7      1       8
839        6       8      0       8      3       8
434        6       8      3       7      8       4
931        9       3      1      10      1       5
     letter
1168     -1
457       1
839      -1
434       1
931      -1

In [8]:
# Markov Sampling 

# Step1 
# generating priliminary model f0

# scale? is it required
df_sample_features = scale(df_sample_features)
df_sample_target = df_sample_target.astype('int')

f0 = SVC(kernel = 'linear')
f0.fit(df_sample_features, df_sample_target.values.ravel())

SVC(kernel='linear')

In [9]:
# Step 2
# draw one sample randomly

m_pos, m_neg = 0, 0
zt = df_final_train.sample(n=1)
print(zt)
if M%2 == 0:
  label = zt.iloc[0]['letter']
  print("")
  if label == 1:
    m_pos += 1
  else:
    m_neg += 1

   letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  xybar  \
64      1     1     0      2       0      0     7     4      2      0      7

    x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
64       2       8      2       7      1       8

In [10]:
w_norm = np.linalg.norm(f0.coef_)  
def predict(z):
  x = zt.loc[:, zt.columns != 'letter']
  y = zt.loc[:, zt.columns == 'letter']
  # doubtful
  fx = f0.decision_function(x)/w_norm
  return fx[0]

In [11]:
# returns the loss value calculated using model f0
def loss(z):
  y = z.iloc[0]['letter']
  # doubtful
  fx = predict(z)

  if fx*y > 1:
    return 0
  else:
    return 1-fx*y

In [12]:
def calculate_P(zs,zst):
  P = exp(-loss(zs))/exp(-loss(zt))
  return P

In [13]:
def acceptance_prob(zs,zt):
  ys = zs.iloc[0]['letter']
  yt = zt.iloc[0]['letter']

  fs = predict(zs)
  ft = predict(zt)

  return exp(-fs*ys)/exp(-ft*yt)

In [14]:
# Step 3
# should its type be pandas.dataframe?
sampled_data = []
# keep count of how many times a sample is rejected
rejected = defaultdict(int)

# all variable names are as given in paper
# constants used in algorithm, see section 4A point 1 in paper
K = 5
Q = 1.2
while m_pos < M//2 or m_neg < M//2:
  # draw one sample randomly = z_star(zs)
  zs = df_final_train.sample(n=1)
  print("considering ",zs)
  P = calculate_P(zs,zt)
  
  # yt corresponds to Y of zt
  yt = zt.iloc[0]['letter']
  ys = zs.iloc[0]['letter']

  # alpha is the acceptance probability of zs, given in step 5
  alpha = P
  # need to convert it to tuple so that it becomes hashable
  tpl = tuple(zs.to_records(index=False)[0])

  if P==1 and yt==-1 and ys==-1:
    alpha = acceptance_prob(zs,zt)  # P'
  elif P==1 and yt==1 and ys==1:    
    alpha = acceptance_prob(zs,zt)  # P'
  elif (P==1 and yt*ys==-1) or P<1 :
    alpha = P                       # P
  elif rejected[tpl]>K:
    alpha = QP                      # P''
                         
  if alpha>1:
    alpha=1

  print(f"alpha {alpha}")
  if np.random.random() < alpha:
    sampled_data.append(zs)
  else:
    rejected[tpl]+=1

  if yt == 1:
    m_pos += 1 
  else:
    m_neg += 1
  
  # for next iteration 
  zt = zs
  print(f"Positive = {m_pos} Negative = {m_neg}")

     0     7     3      2      0      7

     x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
253       2       8      2       6      1       8
alpha 1.0
Positive = 501 Negative = 471
considering       letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  \
1012     -1     4     7      6       5      5     7     7      6      3

      xybar  x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
1012      7       6      10      4       8      7       7
alpha 1
Positive = 502 Negative = 471
considering      letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  xybar  \
138      1     6    11      8       9      8     7     7      8      4      8

     x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
138       5       8      4       8     10       1
alpha 0.0004952774059774304
Positive = 502 Negative = 472
considering      letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  xybar  \
698      1     4    10      5       7      4     9     4      3      1      8

     x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
698       2       8      2       7      2       8
alpha 1.0
Positive = 503 Negative = 472
considering      letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  xybar  \
498      1     3    10      5       8      3    13     4      5      3     12

     x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
498       0       8      2       6      3       9
alpha 1.0
Positive = 504 Negative = 472
considering      letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  xybar  \
556      1     1     0      2       0      0     7     3      2      0      7

     x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
556       2       8      2       6      1       8
alpha 1.0
Positive = 505 Negative = 472
considering       letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  \
1289     -1     6     9      5       4      3     8     6      5      5

      xybar  x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
1289      6       6       7      4       7      3       6
alpha 1
Positive = 506 Negative = 472
considering      letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  xybar  \
956     -1     7    12      6       6      4     8     8      3      4      9

     x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
956       6       7      6       9      5       9
alpha 1.0
Positive = 506 Negative = 473
considering       letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  \
1448     -1     5     8      6       7      6     6     7      5      6

      xybar  x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
1448      7       5       9      5       4      8       4
alpha 1.0
Positive = 506 Negative = 474
considering      letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  xybar  \
268      1     2     7      4       5      3    11     3      2      2      9

     x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
268       2       9      2       6      3       8
alpha 0.0004400654521840379
Positive = 506 Negative = 475
considering       letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  \
1329     -1     4     7      5       5      3     9     8      3      5

      xybar  x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
1329     12       4       4      2       9      3       9
alpha 1
Positive = 507 Negative = 475
considering     letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  xybar  \
62      1     2     4      3       3      1    11     3      3      2     11

    x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
62       2       9      1       6      2       9
alpha 3.200269900298345e-05
Positive = 507 Negative = 476
considering     letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  xybar  \
34      1     5    10      7       7      4     9     5      3      0      8

    x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
34       1       8      2       7      1       8
alpha 1.0
Positive = 508 Negative = 476
considering       letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  \
1334     -1     2     5      3       7      6     8     7      4      1

      xybar  x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
1334      7       6       7      5       8      4       8
alpha 1
Positive = 509 Negative = 476
considering      letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  xybar  \
887     -1     2     3      3       1      1     8     7      3      8      6

     x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
887       6       8      2       8      5       8
alpha 1.0
Positive = 509 Negative = 477
considering      letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  xybar  \
857     -1     3     4      4       5      3     8     8      4      5      7

     x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
857       6       8      3       8      8       9
alpha 1.0
Positive = 509 Negative = 478
considering      letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  xybar  \
267      1     3     7      5       5      3     8     2      2      2      7

     x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
267       2       7      2       6      3       7
alpha 8.543628710777092e-05
Positive = 509 Negative = 479
considering      letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  xybar  \
738      1     3     5      5       8      2     8     5      3      1      7

     x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
738       0       8      2       7      2       8
alpha 1.0
Positive = 510 Negative = 479
considering      letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  xybar  \
815     -1     4     6      6       8      8     9     9      5      0      6

     x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
815       7      10      6      12      5      10
alpha 1
Positive = 511 Negative = 479
considering      letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  xybar  \
292      1     3     8      5       6      4    11     2      2      2      9

     x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
292       2       9      3       6      3       8
alpha 0.0001926862195459286
Positive = 511 Negative = 480
considering     letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  xybar  \
42      1     3     4      5       6      2     5     4      3      2      5

    x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
42       1       7      3       7      2       7
alpha 1.0
Positive = 512 Negative = 480
considering     letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  xybar  \
14      1     3     7      5       5      3    11     3      2      2      9

    x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
14       2       9      3       5      2       8
alpha 1.0
Positive = 513 Negative = 480
considering      letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  xybar  \
301      1     2     1      3       1      1     7     4      2      0      7

     x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
301       1       8      3       6      1       8
alpha 1.0
Positive = 514 Negative = 480
considering      letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  xybar  \
626      1     3     9      5       7      4    12     3      2      2     10

     x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
626       2       9      2       6      3       7
alpha 1.0
Positive = 515 Negative = 480
considering       letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  \
1520     -1     3     7      3       5      2     3     8      6     10

      xybar  x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
1520      7       6      14      0       8      7       8
alpha 1
Positive = 516 Negative = 480
considering       letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  \
1392     -1     3     7      4       5      1     0     0      6      6

      xybar  x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
1392      0       1       5      0       8      0       8
alpha 1.0
Positive = 516 Negative = 481
considering       letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  \
1278     -1    11    12     11       7      6     6     9      5      4

      xybar  x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
1278      4       4      11     11      14      3       8
alpha 1.0
Positive = 516 Negative = 482
considering      letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  xybar  \
766      1     5     9      9       7      6     5     5      2      4      3

     x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
766       2       7      6       7      7       2
alpha 4.083329757295978e-05
Positive = 516 Negative = 483
considering      letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  xybar  \
286      1     5    10      7       8      5     8     4      3      0      7

     x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
286       1       8      2       7      4       8
alpha 1.0
Positive = 517 Negative = 483
considering       letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  \
1168     -1     3    10      3       8      2     0     2      3      6

      xybar  x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
1168      1       0       8      0       8      0       8
alpha 1
Positive = 518 Negative = 483
considering      letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  xybar  \
224      1     6    11     11       8      8     7     5      2      5      5

     x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
224       1       6      6       8      6       6
alpha 0.00017496683126255687
Positive = 518 Negative = 484
considering      letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  xybar  \
910     -1     4     4      6       3      4     8     6      2      4      9

     x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
910       6       8      7       5      2       8
alpha 1
Positive = 519 Negative = 484
considering      letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  xybar  \
355      1     4     9      6       7      3    11     2      4      3     10

     x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
355       2       9      3       7      3       8
alpha 0.0002981301036205497
Positive = 519 Negative = 485
considering      letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  xybar  \
279      1     4    11      8       8      6     9     5      1      4      7

     x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
279       2       6      3       8      6       6
alpha 1.0
Positive = 520 Negative = 485
considering      letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  xybar  \
832     -1     3     3      4       2      2     7     7      6      7      7

     x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
832       6       5      2       8      3       7
alpha 1
Positive = 521 Negative = 485
considering       letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  \
1332     -1     3     5      3       4      3     7     7      5      5

      xybar  x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
1332      6       6       6      2       8      6      10
alpha 1.0
Positive = 521 Negative = 486
considering       letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  \
1223     -1     4     9      6       7      5     9    10      2      2

      xybar  x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
1223      5       9       7      8      12      1       7
alpha 1.0
Positive = 521 Negative = 487
considering     letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  xybar  \
92      1     5    10      8       8      5    11     3      1      2      8

    x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
92       2       9      4       6      3       8
alpha 0.00035291810814789626
Positive = 521 Negative = 488
considering      letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  xybar  \
910     -1     4     4      6       3      4     8     6      2      4      9

     x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
910       6       8      7       5      2       8
alpha 1
Positive = 522 Negative = 488
considering       letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  \
1158     -1     8    11     11       8      6     8     6      2      8

      xybar  x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
1158     11       4       8      4       8      5      10
alpha 1.0
Positive = 522 Negative = 489
considering       letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  \
1254     -1     2     7      3       5      1     9     6      3      7

      xybar  x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
1254     12       4       9      0       7      2       6
alpha 1.0
Positive = 522 Negative = 490
considering      letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  xybar  \
388      1     3     7      5       5      3    11     2      2      2      9

     x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
388       2       9      3       6      3       9
alpha 0.0001749524801460034
Positive = 522 Negative = 491
considering       letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  \
1409     -1     2     3      3       2      1     6     4      2      8

      xybar  x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
1409      8       2      10      0       7      2       8
alpha 1
Positive = 523 Negative = 491
considering       letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  \
1363     -1     3     1      5       3      3     6     7      4      8

      xybar  x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
1363      7       6      10      6       8      4       9
alpha 1.0
Positive = 523 Negative = 492
considering      letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  xybar  \
706      1     2     1      4       3      2     8     1      2      2      8

     x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
706       2       8      3       6      3       7
alpha 6.161841320863505e-06
Positive = 523 Negative = 493
considering      letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  xybar  \
731      1     3     4      5       3      2    10     2      2      2      9

     x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
731       2       9      2       6      2       8
alpha 1.0
Positive = 524 Negative = 493
considering      letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  xybar  \
847     -1     1     4      2       3      1     7     8      0      7     13

     x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
847       6       8      0       8      1       7
alpha 1
Positive = 525 Negative = 493
considering      letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  xybar  \
810     -1     7    15      7       8      6    10     6      4      5     10

     x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
810       4       7      7       6      8       9
alpha 1.0
Positive = 525 Negative = 494
considering     letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  xybar  \
87      1     3     2      5       3      2     8     2      2      2      7

    x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
87       2       8      2       7      2       7
alpha 0.00025579441325992357
Positive = 525 Negative = 495
considering      letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  xybar  \
317      1     4     6      6       5      5     8     8      3      5      7

     x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
317       8       7      5      10      4       6
alpha 1.0
Positive = 526 Negative = 495
considering       letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  \
1488     -1     1     2      2       2      1     8     8      5      2

      xybar  x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
1488      8       7       9      2       9      3       9
alpha 1
Positive = 527 Negative = 495
considering      letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  xybar  \
156      1     2     7      4       5      2     9     3      2      2      8

     x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
156       1       8      2       6      3       8
alpha 0.00014463077576206066
Positive = 527 Negative = 496
considering     letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  xybar  \
38      1     3     6      5       4      3     8     5      3      0      7

    x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
38       1       8      2       6      1       8
alpha 1.0
Positive = 528 Negative = 496
considering       letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  \
1377     -1     3     7      3       5      3     3     6      5      9

      xybar  x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
1377      7       7      13      0       8      7       9
alpha 1
Positive = 529 Negative = 496
considering      letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  xybar  \
960     -1     4     7      7       5      6     7     9      1      5     10

     x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
960       6       6      5      10      4       5
alpha 1.0
Positive = 529 Negative = 497
considering      letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  xybar  \
472      1     1     1      2       2      1     7     3      2      1      6

     x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
472       2       8      1       6      1       7
alpha 0.00013756520258310253
Positive = 529 Negative = 498
considering      letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  xybar  \
294      1     4     9      6       6      4    10     2      1      2      8

     x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
294       3       9      5       5      3       7
alpha 1.0
Positive = 530 Negative = 498
considering      letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  xybar  \
962     -1     3     8      4       6      4     6     7      6      8      7

     x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
962       6      10      3       8      6       8
alpha 1
Positive = 531 Negative = 498
considering      letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  xybar  \
249      1     1     3      2       1      1     9     3      2      1      8

     x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
249       2       9      1       6      0       8
alpha 1.3443133251659796e-05
Positive = 531 Negative = 499
considering      letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  xybar  \
343      1     4     9      3       4      2    13     3      4      1     10

     x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
343       3      10      3       5      3      10
alpha 1.0
Positive = 532 Negative = 499
considering       letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  \
1369     -1     3     1      4       1      1     7     9      5      6

      xybar  x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
1369      7      10       9      3      10      1       8
alpha 1
Positive = 533 Negative = 499
considering       letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  \
1257     -1     0     0      0       0      0     7     7      4      4

      xybar  x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
1257      7       6       8      0       8      0       8
alpha 1.0
Positive = 533 Negative = 500

In [15]:
# Markov Sampling Done
# sampled data points are stored in sampled_data
print(len(sampled_data))
dataset = pd.concat(sampled_data)
print(dataset.head())

787
     letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  \
1366     -1     4     4      6       6      7     9     4      5      3
1504     -1     5    10      7       7      5     7     8      8      5
191       1     3     6      5       4      2    11     3      2      2
866      -1     4     9      4       7      1     0     1      6      6
1541     -1     6    10      7       8      4     4     8      6      8

      xybar  x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
1366      7       7       8      5       9      4       8
1504      7       7       9      3       7      4       7
191       9       2       9      2       6      3       9
866       0       0       6      0       8      0       8
1541     10       9       9      3       9      2       5

In [16]:
print("In the final dataset on which SVM is being trained ")

print(f"Number of positive samples {len(dataset[dataset['letter']==1])}")
print(f"Number of negative samples {len(dataset[dataset['letter']==-1])}")
features = dataset.loc[:, dataset.columns != 'letter']
target = dataset.loc[:, ['letter']]

print(features.head())
print(target.head())

In the final dataset on which SVM is being trained
Number of positive samples 286
Number of negative samples 501
      xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  xybar  \
1366     4     4      6       6      7     9     4      5      3      7
1504     5    10      7       7      5     7     8      8      5      7
191      3     6      5       4      2    11     3      2      2      9
866      4     9      4       7      1     0     1      6      6      0
1541     6    10      7       8      4     4     8      6      8     10

      x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
1366       7       8      5       9      4       8
1504       7       9      3       7      4       7
191        2       9      2       6      3       9
866        0       6      0       8      0       8
1541       9       9      3       9      2       5
     letter
1366     -1
1504     -1
191       1
866      -1
1541     -1

In [17]:
def hellinger(X1, X2):
  return np.sqrt(np.dot(X1,X2.T))

In [18]:
# final SVMC algorithm
# scaling the feature matrix values into a td distribution

# X_train = scale(features)
X_train = features
y_train = target
y_train = y_train.astype('int')


# X_test = scale(df_final_test.loc[:, df_final_test.columns != 'letter'])
X_test = df_final_test.loc[:, df_final_test.columns != 'letter']
y_test = df_final_test.loc[:, ['letter']]
y_test = y_test.astype('int')


# model training
import warnings
warnings.filterwarnings("ignore")
kernels = ['linear', 'rbf', 'poly']
for kernel in kernels:
    model = SVC(kernel = kernel)
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    acc = accuracy_score(y_true = y_test, y_pred = y_pred)
    print(f"Kernel = {kernel}, accuracy = {acc * 100}")

model = SVC(kernel = hellinger)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
acc = accuracy_score(y_true = y_test, y_pred = y_pred)
print(f"Kernel = hellinger, accuracy = {acc * 100}")

model = SVC(kernel = chi2_kernel)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
acc = accuracy_score(y_true = y_test, y_pred = y_pred)
print(f"Kernel = chi2_kernel, accuracy = {acc * 100}")

Kernel = linear, accuracy = 94.44444444444444
Kernel = rbf, accuracy = 93.37606837606837
Kernel = poly, accuracy = 98.07692307692307
Kernel = hellinger, accuracy = 92.52136752136752
Kernel = chi2_kernel, accuracy = 95.94017094017094